@tailwind base;
@tailwind components;
@tailwind utilities;





*::-webkit-scrollbar {
    height: 2px;
    width: 5px;


  }

  *::-webkit-scrollbar-track {
    background-color: #ebebeb;
  }

      *::-webkit-scrollbar-track {
        background-color: #ebebeb;
      }
  html{
      scroll-behavior: smooth;
  }

@media screen and (max-width:785px) {
  .clean-sidebar::-webkit-scrollbar {
      height: 2px;
      width: 5px;

    }

    .clean-sidebar::-webkit-scrollbar-track {
      background-color: #ebebeb;
    }

    .clean-sidebar::-webkit-scrollbar-thumb {
      background-color: #02A9F7;
      border-radius: 4px;
    }

}