@tailwind base;
@tailwind components;
@tailwind utilities;



html{
    scroll-behavior: smooth;
}

.clean-sidebar::-webkit-scrollbar {
    height: 3px;
    width: 5px;
    display: none;
    margin-top: 10px;

  }

  .clean-sidebar::-webkit-scrollbar-track {
    background-color: #ebebeb;
  }

  .clean-sidebar::-webkit-scrollbar-thumb {
    background-color: #02A9F7;
    border-radius: 4px;
  }

  .clean-sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #400546;
  }

  .clean-sidebar:hover::-webkit-scrollbar {
    display: block; /* Show when hovering */
  }